@function rem($n) {
    @return #{$n/75}rem;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    background: #f5f5f5;
    max-width: 750px;
    margin: auto;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fixed-bottom {
    position: fixed;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 750px;
    min-width: 320px;
}

